form{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

h2{ 
 
    text-align: center;
    margin-left: 390px;
}

#containerBtn{
    margin-top: 15px;
    margin-left: 535px;
}

table{
    margin-top: 40px;
}